<div class="product-card">
  <img [src]="productImage" [alt]="product.title" (click)="viewProductDetails()" />
  <div class="product-details" (click)="viewProductDetails()">
      <div class="grid-container">
        <div class="row-one">
          <p class="title">{{ product.title | truncate:3 }}</p>
          <div class="rating">
            <svg width="15" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_170_309)">
                <path d="M6.1698 10.8214L9.27919 12.977L8.45404 8.91436L11.2012 6.18091L7.58362 5.8284L6.1698 1.99695L4.75598 5.8284L1.13843 6.18091L3.88556 8.91436L3.06041 12.977L6.1698 10.8214Z" fill="#FF4D00"/>
              </g>
              <defs>
                <clipPath id="clip0_170_309">
                  <rect width="12.0753" height="13.8695" fill="white" transform="translate(0.13208 0.841187)"/>
                </clipPath>
              </defs>
            </svg>
            <p class="rating-number">{{ product.rating }}</p>
          </div>
        </div>
        <div class="row-two">
          <p class="price">${{ product.price }}</p>
          <div class="percentage-container">
            {{ product.discountPercentage ? (product.discountPercentage + '% off') : 'No Discount' }}
          </div>
        </div>
      </div>
    </div>
    <div class="cart-container" (click)="addToCart(product)">
      <svg width="30" height="30" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="cart">
        <path d="M2 2H10L15.36 28.78C15.5429 29.7008 16.0438 30.5279 16.7751 31.1166C17.5064 31.7053 18.4214 32.018 19.36 32H38.8C39.7386 32.018 40.6536 31.7053 41.3849 31.1166C42.1162 30.5279 42.6171 29.7008 42.8 28.78L46 12H12M20 42C20 43.1046 19.1046 44 18 44C16.8954 44 16 43.1046 16 42C16 40.8954 16.8954 40 18 40C19.1046 40 20 40.8954 20 42ZM42 42C42 43.1046 41.1046 44 40 44C38.8954 44 38 43.1046 38 42C38 40.8954 38.8954 40 40 40C41.1046 40 42 40.8954 42 42Z" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M28.9999 17.3333V26.6666M24.3333 22H33.6666" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>
