@import '../../../../styles/main';

.sales-section {
  max-width: 1207px;
  overflow: hidden;
  position: relative;

  @media (max-width: 1207px) {
    max-width: 1100px;
    
  }

  @media (max-width: 1024px) {
    max-width: 700px;
  }

  @media (max-width: 768px) {
    max-width: 560px;
  }

  @media (max-width: 468px) {
    max-width: 400px;
  }

  .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 5px;

  }


  .arrows {
    display: flex;
    column-gap: 20px;
  }

  
  .circle-container {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-primary;
    box-shadow: 0 5px 8px rgb(72, 70, 70);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
     &:hover {
      background-color: $bg-color-secondary;
      box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    }

    &.disabled {
      pointer-events: none; 
      cursor: not-allowed;
      
    }
  }

  .carousel {
    width: 100%;
    max-height: 320px;
    height: 100%;
    app-product-card{
      width: 220px;
      height: 280px;
      @include flex(center, center, nowrap); 
          @media (max-width: 468px){
              width: 170px;
              height: 240px; 
          }
      }

    [ngxSlickItem] {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
    }
    
  }
}