<!-- Small And medium Screens Navbar: Visible Only on Small and Medium Screens -->
<div *ngIf="isSmallScreen" class="nav-sm-md-wrapper">

  <div class="nav-logo-icons-wrapper">
    <h1 class="nav-logo" (click)="navigateToHome()">Achilles</h1>
    <div class="nav-icons-wrapper">
      <div class="icon">
        <mat-icon fontIcon="favorite_outlined" class="mat-icon-custom"></mat-icon>
      </div>
      <!-- Profile Icon or Picture -->
      <div class="icon pfp-border" (click)="toggleProfileDropdown()" *ngIf="isLoggedIn">
        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <img
          [src]="userProfilePicture"
          alt="Profile Picture"
          class="profile-picture"
        />
      </button>
      </div>

      <div class="icon" *ngIf="!isLoggedIn || !userProfilePicture">
          <mat-icon
            *ngIf="!isLoggedIn || !userProfilePicture"
            fontIcon="person_outlined"
            class="mat-icon-custom"
            (click)="navigateToLogin()"
            ></mat-icon>
      </div>

      <div class="icon">
        <mat-icon fontIcon="shopping_cart" class="mat-icon-custom-outline mat-icon-custom" (click)="navigateToCart()"></mat-icon>
      </div>
    </div>
    
</div>
  <div class="nav-hamburger-search-wrapper">
    <div class="nav-category-wrapper" (click)="toggleDropdown()">
      <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 8.83349H26M2 2.14642H26M2 15.5206H26" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>      
      <p>Categories</p>
    </div>

    <div class="dropdown-menu-wrapper" [class.open]="isCategoriesDropdownOpen">
      <ul>
        <li *ngFor="let category of categories"  (click)="navigateToCategory(category)">
          {{ category }}
        </li>
      </ul>
    </div>

    <mat-form-field appearance="outline" class="search-bar-wrapper">
      <mat-label>Search for anything</mat-label>
          <input matInput type="text" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
          <div matSuffix class="search-icon-wrapper" (click)="onSearch()">
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </mat-form-field>
    
  </div>

  <!-- Profile Dropdown -->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="navigateToMyAccount()">
      <mat-icon>account_circle</mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
  
</div>


<!-- Desktop Navbar: Visible Only on Large Screens -->
<div *ngIf="!isSmallScreen" class="nav-lg-wrapper">
  <h1 class="nav-logo" (click)="navigateToHome()">Achilles</h1>

  <div class="nav-category-dropdown-wrapper">
    <div class="nav-category-wrapper" (click)="toggleDropdown()">
      <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 8.83349H26M2 2.14642H26M2 15.5206H26" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>      
      <p>Categories</p>
    </div>

    <div class="dropdown-menu-wrapper" [class.open]="isCategoriesDropdownOpen">
      <ul>
        <li *ngFor="let category of categories"  (click)="navigateToCategory(category)">
          {{ category }}
        </li>
      </ul>
    </div>
  </div>

  <mat-form-field appearance="outline" class="search-bar-wrapper">
    <mat-label>Search for anything</mat-label>
        <input matInput type="text" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
        <div matSuffix class="search-icon-wrapper" (click)="onSearch()">
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </mat-form-field>
  
  <div class="nav-icons-wrapper">
    <div class="icon">
      <mat-icon fontIcon="favorite_outlined" class="mat-icon-custom"></mat-icon>
    </div>

    <!-- Profile Icon or Picture -->
    <div class="icon pfp-border" (click)="toggleProfileDropdown()" *ngIf="isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <img
        [src]="userProfilePicture"
        alt="Profile Picture"
        class="profile-picture"
      />
    </button>
    </div>
    
    <div class="icon" *ngIf="!isLoggedIn || !userProfilePicture">
      <mat-icon
        fontIcon="person_outlined"
        class="mat-icon-custom"
        (click)="navigateToLogin()"
      ></mat-icon>
    </div>

    <div class="icon">
      <mat-icon fontIcon="shopping_cart" class="mat-icon-custom-outline mat-icon-custom" (click)="navigateToCart()"></mat-icon>
    </div>
    
  </div>

    <!-- Profile Dropdown -->
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="navigateToMyAccount()">
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
</div>
