@import '../../../../styles/main';

button {
  width: 176px;
  height: 55px;
  border-radius: $border-radius-sm;
  border: none;
  font-size: $font-size-sm;
  line-height: normal;
  text-align: center;
  transition: ease-in-out 0.3s;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 136px;
    height: 30px;
    margin-top: 12px;
    font-size: $font-size-xs;
  }

  &.theme-primary {
    background-color: $bg-color-primary;
    color: $text-color-primary;

    &:hover {
      background-color: darken($bg-color-primary, 10%);
    }

    &:active {
      background-color: darken($bg-color-primary, 20%);
    }
  }

  &.theme-secondary {
    background-color: $bg-color-secondary;
    color: $text-color-primary;

    &:hover {
      background-color: darken($bg-color-secondary, 10%);
    }

    &:active {
      background-color: darken($bg-color-secondary, 20%);
    }
  }

  &.theme-danger {
    background-color: #e74c3c;
    color: white;

    &:hover {
      background-color: darken(#e74c3c, 10%);
    }

    &:active {
      background-color: darken(#e74c3c, 20%);
    }
  }

  &.theme-auth{
    width: 100%;
    padding: 12px;
    background: $bg-color-dark;
    color: #EFEFEF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
  &:hover {
    background: $bg-color-secondary;
    color: $text-color-primary;
  }
 }
}
