<div class="hero section">
    <div class = "left-hero">
        <img src="./assets/hero/Eyeglasses-hero.png">
        <div class="left-hero-content">
            <h1>Freshed<br> Out.</h1>
            <app-button text="Shop now" theme="primary" (click)="NavigateToSunglasses()"></app-button>
        </div>
    </div>
    
    <div class="right-hero">
        <img src="./assets/hero/jewelry-hero.png">
        <div class="right-hero-content" (click)="NavigateToJewelry()">
            <h1>Jewelry</h1>
            <a>Shop Now</a>
        </div>
    </div>
</div>