@import 'variables';

@mixin flex($justify: center, $align: center, $wrap: wrap, $direction: row){ 
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
  }

  @mixin logo($color : $logo-color, $font : $font-hamakor-book){
    color: $color;
    font-family: $font;
  }

  @mixin sub-title($color : $text-color-primary, $font-weight : 500 ){
    color: $color;
    font-weight: $font-weight;
  }

  /*REGISTRATION FORM MIXINS*/

  @mixin login-signup-container($bg-color: $bg-color-primary){
    @include flex(center, center, nowrap, column);
    min-height: 100vh;
    background-color: $bg-color;
  }

  @mixin form-fields($margin-bottom: 20px){
    @include flex(center, left, nowrap, column);
    margin-bottom: $margin-bottom;
  }

  @mixin form-label($color : $text-color-primary, $font-weight : 500, $margin-bottom : 8px){
    display: block;
    color: $color;
    font-weight: $font-weight;
    margin-bottom: $margin-bottom;
  }

  @mixin form-input ($padding: $padding-2xs, $border: 2px solid $bg-color-light-gray, $border-radius: $border-radius-sm, $font-size: $font-size-xs, $transition: border-color 0.3s ease){
    @include flex(center, center, nowrap);
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    font-size: $font-size;
    transition: $transition;
  }

  @mixin hide-icon($font-size: 20px, $color: $light-gray, $height: 20px){
    font-size: $font-size;
    color: $color;
    height: $height;
  }

  @mixin error-message-form($color: $error-color, $font-size: $font-size-xs, $margin-top: 5px){
    color: $color;
    font-size: $font-size;
    margin-top: $margin-top;
  }

  %signup-login-link-styles {
    color: $text-color-primary;
    text-decoration: none;
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: $bg-color-dark;
    }
  
    &:hover {
      color: darken($text-color-primary, 10%);
  
      &::after {
        background-color: darken($bg-color-dark, 10%);
      }
    }
  }

  @mixin signup-login-prompt-styles {
    text-align: center;
    margin-top: 20px;
    color: $text-color-primary;
  
    .login-link {
      @extend %signup-login-link-styles; 
    }
    .signup-link {
      @extend %signup-login-link-styles; 
    }
  }

  @mixin set-width($max-width: 1207px,$width: 100%){
   max-width: $max-width;
    width: $width;
  }

  @mixin text-styles($font-family: $font-roboto-sans, $font-style: normal, $font-weight: 300, $font-size: 20px, $line-height: 100%, $letter-spacing: 0.1em, $color: $text-color-primary, $white-space: nowrap){
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
    white-space: $white-space;
  }
  