//General Margins
$margin-lg: 6rem;

$margin-md: 3rem;

$margin-sm: 2rem;

$margin-xs: 1rem;

$margin-2xs: 0.75rem;

$margin-3xs: 0.5rem;

// Margins Top-Bottom
$margin-top-xlg: 9.1rem;
$margin-bottom-xlg: 9.1rem;

$margin-top-lg: 6rem;
$margin-bottom-lg: 6rem;

$margin-top-md: 3rem;
$margin-bottom-md: 3rem;

$margin-top-sm: 2rem;
$margin-bottom-sm: 2rem;

$margin-top-xs: 1rem;
$margin-bottom-xs: 1rem;

$margin-top-2xs: 0.75rem;
$margin-bottom-2xs: 0.75rem;

$margin-top-3xs: 0.5rem;
$margin-bottom-3xs: 0.5rem;

//Margins Right-Left
$margin-right-xlg: 9.1rem;
$margin-left-xlg: 9.1rem;

$margin-right-lg: 6rem;
$margin-left-lg: 6rem;

$margin-right-md: 3rem;
$margin-left-md: 3rem;

$margin-right-sm: 2rem;
$margin-left-sm: 2rem;

$margin-right-xs: 1rem;
$margin-left-xs: 1rem;

$margin-right-2xs: 0.75rem;
$margin-left-2xs: 0.75rem;

$margin-right-3xs: 0.5rem;
$margin-left-3xs: 0.5rem;


//General Paddings
$padding-lg: 6rem;

$padding-md: 3rem;

$padding-sm: 2rem;

$padding-xs: 1rem;

$padding-2xs: 0.75rem;

$padding-3xs: 0.5rem;

//Paddings Right-Left
$padding-right-lg: 6rem;
$padding-left-lg: 6rem;

$padding-right-md: 3rem;
$padding-left-md: 3rem;

$padding-right-sm: 2rem;
$padding-left-sm: 2rem;

$padding-right-xs: 1rem;
$padding-left-xs: 1rem;

$padding-right-2xs: 0.75rem;
$padding-left-2xs: 0.75rem;

$padding-right-3xs: 0.5rem;
$padding-left-3xs: 0.5rem;

//Typography
$font-roboto-sans: 'Roboto Mono', sans-serif;
$font-roboto-Mono: 'Roboto Mono';
$font-roboto: 'Roboto';
$font-hamakor-book: 'Hamakor Book', sans-serif;

//Font Sizes
$font-size-lg: 2.875rem;

$font-size-md: 1.875rem;

$font-size-sm: 1.125rem;

$font-size-xs: 0.75rem;

$font-size-2xs: 0.5rem;

$font-size-3xs: 0.25rem;

//BG-Colors
$bg-color-primary: #EFEFEF;
$bg-color-secondary: #888888;
$bg-color-category: #F0BB78;
$bg-color-sale: #A0E193;
$bg-color-dark:#0A0D12;
$bg-color-deactivated: #4f4d4d;
$bg-color-light-gray: #cacaca;

//Text-Colors
$text-color-primary: #0A0D12;
$text-color-secondary: #757575;
$text-color-transparent: #EFEFEF;

$text-color-sale: #0F743B;

//Logo Color
$logo-color: #F1641E;

//Line Color
$Line-color-primary: #0A0D12;


//Border Radius
$border-radius-lg: 42px;
$border-radius-md: 20px;
$border-radius-sm: 8px;

//Border color
$border-color-primary: #0A0D12;

//error color
$error-color: #dc3545;

//General Colors:
$light-gray: #cacaca;


//Gaps:
$gap-lg: 6rem;
$gap-md: 3rem;
$gap-sm: 1.25rem;
