<div class="container-grid section">   
    <h1>Shop Our most poular categories</h1>


    <div class="skin-care-grid">
            <div class="skin-care-content">
                <h2>Skin Care</h2>
                <h3>For dewy<br>glowy skin</h3>
                <app-button text="Shop Now" (click)="NaviageToSkinCare()"></app-button>
            </div>

            <img src="./assets/category/skin-care.png" alt="Skin Care" class="skin-care-img">
        
        <div class="card-grid">
            <app-product-card *ngFor="let product of products | slice:0:4" [product]="product"></app-product-card>
        </div>
    </div>

    <div class="category-grid">
      <div class="category-wrapper slick-carousel">
        <a 
          class="category-card" 
          *ngFor="let category of categoryList" 
          [routerLink]="['/category', formatCategoryUrl(category.name)]"
        >
        <img [src]="category.image" alt="{{ category.name }}" class="category-image">
        <h2>{{ category.name }}</h2>
        </a>
      </div>
    </div>    
</div>