<div class="container-grid">   
    <h1>Shop Our most poular categories</h1>


    <div class="skin-care-grid">
            <div class="skin-care-content">
                <h2>Skin Care</h2>
                <h3>For dewy<br>glowy skin</h3>
                <app-button text="Shop Now"></app-button>
            </div>

            <img src="./assets/category/skin-care.png" alt="Skin Care" class="skin-care-img">
        
        <div class="card-grid">
            <app-product-card *ngFor="let product of products | slice:0:4" [product]="product"></app-product-card>
        </div>
    </div>

    <div class="category-grid">
        <div class="category-wrapper slick-carousel">
          <div class="category-card" *ngFor="let category of ['Purses', 'Jewelry', 'Women\'s Clothes', 'Men\'s Clothes', 'Shoes', 'Cosmetics']">
            <img src="./assets/category/purse.png" alt="{{category}}" class="purses-image">
            <h2>{{ category }}</h2>
          </div>
        </div>
      </div>
</div>