@import '../../../../styles/main';

.footer-container{
    @include flex(space-between, baseline, nowrap, row);

    @media (max-width: 1028px){
        @include flex(center, center, wrap, column);        
    }
}

.logo{
    color:  $logo-color;
    letter-spacing: 0.3em;
    display: flex;
    align-self: center;
    margin-left: 90px;
    &:hover{
        cursor: pointer;
    }

    @media (max-width: 1028px){
        margin-left: 0px;
    }

}

.footer-text{

@include text-styles($font-roboto, normal, 300, 20px, 100%, 0.1em, $text-color-secondary);

padding-bottom: 20px;

&:hover{
    cursor: pointer;

    }
}


.title{
@include text-styles($font-roboto, normal, 400, 24px, 100%, 0.1em);
@media (max-width: 1028px){
    display: flex;
    justify-content: center;
}
}


.footer-content{
    @include flex(center, start, wrap, column);
    @media (max-width: 1028px){
        align-items: center;
    }
}

.social-icon{
    font-size: 24px;
    padding-bottom: 20px;

}

.rights {
    width: 100%; 
    display: flex;
    justify-content: center;
    background-color: #292929;
}

.rights-text{
    @include text-styles($font-roboto, normal, 300, 10px, 100%, 0.1em, $text-color-transparent, nowrap);
}