<div class="footer-container">

    <div class="logo">
        <h1>Achilles</h1>
    </div>

    <div class="about-us">
        <p class="title">Achilles</p>
        <div class="footer-content">
            <a class="footer-text">About Achilles</a>
            <a class="footer-text">Careers</a>
            <a class="footer-text">Categories</a>
            <a class="footer-text">Where to<br>find us</a>
        </div>
    </div>

    <div class="customer-care">
        <p class="title">Customer Care</p>
        <div class="footer-content">
            <a class="footer-text">My Account</a>
            <a class="footer-text">Help & Support</a>
            <a class="footer-text">Contact Us</a>
            <a class="footer-text">Refund Policy</a>
        </div>
    </div>

    <div class="socials">
        <p class="title">Socials</p>
        <div class="footer-content">
            <a class="bi bi-facebook social-icon"><span class="footer-text"> Facebook</span></a>
            <a class="bi bi-twitter social-icon"><span class="footer-text"> Twitter</span></a>
            <a class="bi bi-github social-icon"><span class="footer-text"> Github</span></a>
            <a class="bi bi-instagram social-icon"><span class="footer-text"> Instagram</span></a>
    
        </div>
    </div>
</div>

<div class="rights">
    <p class="rights-text">© 2025 Achilles. All rights reserved.</p>
</div>