<div class="category-container section">
  <!-- Filter Section -->

<app-hero-category></app-hero-category>

  <div class="category-header">
    <mat-form-field appearance="outline" class="sort-dropdown">
      <mat-label>Sort By</mat-label>
      <mat-select [(value)]="selectedSortBy" (selectionChange)="applySorting()">
        <mat-option value="price-asc">Lowest Price</mat-option>
        <mat-option value="price-desc">Highest Price</mat-option>
        <mat-option value="rating-desc">Highest Reviews</mat-option>
        <mat-option value="stock-asc">Highest Stock</mat-option>
        <mat-option value="stock-desc">Lowest Stock</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="category-products">
    <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
  </div>
</div>


<!-- No Products Template -->
<ng-template #noProducts>
  <h3>No products available in this category :/</h3>
</ng-template>
