@use '@angular/material' as mat;
@import './styles/main';

:root {
  --section-spacing: 32px;
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$orange-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: $font-roboto-sans; background-color: $bg-color-primary; }

*::-webkit-scrollbar {
  display: none;
}


.section {
  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
  border-bottom: 0.5px solid $bg-color-dark;
}
